/* NAVIGATION STYLES */
.topnavbar,
.bottomnavbar {
  background-color: #77ceff;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}


.topnavbar a,
.bottomnavbar a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #000;
}

/* TYPOGRAPHY ALIGNMENT */
h1,
h2,
h3,
p {
  text-align: center;
}

/* IMAGE ALIGNMENT */
.imagecenter {
  text-align: center;
}

.imagecenter img {
  display: inline-block;
}

/* GENERAL CLASS */
.basiccenteralign {
  text-align: center;
}
